<div id="calandermode">
    <div class="row center-align">
        <button class="btn waves-effect waves-light" type="button" name="action" ng-click="switchtotable()">
            Show Appointment View in Table
            <i class="material-icons right">web</i>
        </button>
    </div>
    <div class="calendar" ng-model="eventSources" calendar="calendar" ui-calendar="uiConfig.calendar"></div>
</div>

<div id="tablemode" style="display:none">
    <div class="row center-align">
        <button class="btn waves-effect waves-light" type="button" name="action" ng-click="switchtocalander()">
            Show Appointment View in Calander
            <i class="material-icons right">today</i>
        </button>
    </div>

    <div>
        <table datatable="ng" class="row-border hover" data-display-length="5">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Customer</th>
                    <th>Customer Mobile</th>
                    <th>Assignee</th>
                    <th>Status</th>


                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="app in appointmentlist">
                    <td>{{ app.date }}</td>
                    <td>{{ app.time }}</td>
                    <td>{{ app.customer | customerType }}</td>
                    <td>{{ app.cmobile }}</td>
                    <td>{{ app.assignee | staffType }}</td>
                    <td>{{ app.status | statusType }}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>