<div id="tablemode">

    <div class="row" style="border-bottom:2px solid black; padding-bottom:10px;">
        <div class="col s6 m4 center-align">
            <button ng-click="showOpenCaseView()" class="btn modal-trigger waves-effect waves-light casebtn">Live Case</button>
        </div>
        <div class="col s6 m4 center-align">
            <button ng-click="showPastCaseView()" class="btn modal-trigger waves-effect waves-light casebtn">Past Case</button>
        </div>
        <div class="col s6 m4 center-align">
            <button ng-click="showAddCaseView()" class="btn modal-trigger waves-effect waves-light casebtn">Open Case</button>
        </div>
    
        <div class="col s6 m4 center-align">
            <button ng-click="showOpenTicketView()" class="btn modal-trigger waves-effect waves-light casebtn">Live Ticket</button>
        </div>
        <div class="col s6 m4 center-align">
            <button ng-click="showPastTicketView()" class="btn modal-trigger waves-effect waves-light casebtn">Past Ticket</button>
        </div>
        <div class="col s6 m4 center-align">
            <button ng-click="showAddTicketView()" class="btn modal-trigger waves-effect waves-light casebtn">Open Ticket</button>
        </div>
    </div>
    
    <div ui-view="caseTables"></div>

</div>