<div id="tablemode">
    <div class="row center-align">
        <button data-target="addCase" class="btn modal-trigger waves-effect waves-light">Add Case<i class="material-icons right">add</i></button>
    </div>

    <div>
        <table datatable="ng" class="row-border hover" data-display-length="3">
            <thead>
                <tr>
                    <th></th>
                    <th>Case Name</th>
                    <th>Customer Name</th>
                    <th>Customer Mobile</th>
                    <th>Assignee</th>
                    <th>Status</th>
                    <th>Created Date</th>
                    <th>Finish Date</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="case in caselist">
                    <td><i class="material-icons" style="cursor:pointer">mode_edit</i></td>
                    <td>{{ case.casename }}</td>
                    <td>{{ case.customer | customerType }}</td>
                    <td>{{ case.cmobile }}</td>
                    <td>{{ case.assignee | staffType }}</td>
                    <td>{{ case.status | statusType }}</td>
                    <td>{{ case.cdate }}</td>
                    <td>{{ case.edate }}</td>
                    <td>{{ case.description }}</td>

                </tr>
            </tbody>
        </table>
    </div>


    <!-- Modal Structure -->
    <div id="addCase" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class="row">
                <div class="input-field col m6 s12">
                    <input id="cname" type="text" class="validate">
                    <label for="cname">Case Name</label>
                </div>
                <div class="input-field col m6 s12">
                    <input id="description" type="text" class="validate">
                    <label for="description">Description</label>
                </div>
                <div class="input-field col m6 s12">
                    <select material-select id="customer">
                        <option value="" disabled selected>Choose your option</option>
                        <option ng-repeat="user in customername" value="{{user.id}}">{{user.fname}} {{user.lname}}</option>
                    </select>
                    <label for="customer">Customer</label>
                </div>
                <div class="input-field col m6 s12">
                    <select material-select id="assignee">
                        <option value="" disabled selected>Choose your option</option>
                        <option ng-repeat="ass in assigneename" value="{{ass.id}}">{{ass.fname}} {{ass.lname}}</option>
                    </select>
                    <label for="assignee">Assignee</label>
                </div>
                <div class="input-field col m6 s12">
                    <select material-select id="status">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Confirmed</option>
                        <option value="2">Pending</option>
                        <option value="3">Inprogress</option>
                        <option value="4">Cancelled</option>
                        </select>
                    <label for="status">Status</label>
                </div>
                <div class="input-field col m6 s12">
                    <datepicker date-format="dd/MM/yyyy">
                        <input ng-model="dob" type="text" />
                    </datepicker>
                    <label class="active" for="dob">End Date</label>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect waves-light">Submit<i class="material-icons right">add</i></button>
        </div>
    </div>

</div>