<div class="card">
    <div class="card-header">
        <h4 style="color:#fff; text-align:center">Change Password</h4>
    </div>
    <div class="card-content">
        
            <div class="input-field col offset-l3 l6 offset-m3 m6 offset-s1 s10">
                <input id="opass" type="text" class="validate">
                <label for="opass">Old Password</label>
            </div>
            <div class="input-field col offset-l3 l6 offset-m3 m6 offset-s1 s10">
                <input id="pass" type="text" class="validate">
                <label for="pass">New Password</label>
            </div>
            <div class="input-field col offset-l3 l6 offset-m3 m6 offset-s1 s10">
                <input id="cpass" type="text" class="validate">
                <label for="cpass">Confirm Password</label>
            </div>
        </div>
    <div class="card-footer">
        <center>
            <a class="btn-floating btn-large waves-effect waves-light">
                <i class="material-icons">done</i>
            </a>
        </center>
    </div>
</div>