<div style="padding-top:30px;">
    <div class="row">
        <div class="col s12">
            <ul class="tabs" tabs>
                <li class="tab col s2" ng-click="clickCustomer()"><a class="active" href="#test1">Customer List</a></li>
                <li class="tab col s2"><a href="#test2" id="customerHead">Add Customer</a></li>
            </ul>
        </div>
        <div id="test1" class="col s12" style="padding-top:20px;">
            <table datatable="ng" class="row-border hover" data-display-length="4">
                <thead>
                    <tr>
                        <th></th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Mobile</th>
                        <th>Email</th>
                        <th>Member Type</th>
                        <th>Lead Source</th>


                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cus in customerlist">
                        <td><i ng-click="customerEdit(cus)" class="material-icons" style="cursor:pointer">mode_edit</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i ng-click="customerView(cus)" class="material-icons" style="cursor:pointer">visibility</i></td>
                        <td>{{ cus.fname }}</td>
                        <td>{{ cus.lname }}</td>
                        <td>{{ cus.mobile }}</td>
                        <td>{{ cus.email }}</td>
                        <td>{{ cus.member_id | memberType }}</td>
                        <td>{{ cus.lead_id | leadSource }}</td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div id="test2" class="col s10 offset-s1">
            <div style="padding-top:20px;">
                <div id="addeditsection">
                    <form>
                        <div class="row">
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="fname" type="text" class="validate" ng-model="singleCustomer.fname">
                                <label for="fname">First Name</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="lname" type="text" class="validate" ng-model="singleCustomer.lname">
                                <label for="lname">Last Name</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">phone</i>
                                <input id="phone" type="tel" class="validate" ng-model="singleCustomer.phone">
                                <label for="phone">Telephone</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">stay_primary_portrait</i>
                                <input id="mobile" type="tel" class="validate" ng-model="singleCustomer.mobile">
                                <label for="mobile">Mobile</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">email</i>
                                <input id="email" type="email" class="validate" ng-model="singleCustomer.email">
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">perm_identity</i>
                                <select material-select id="gender" ng-model="singleCustomer.gender">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                    <option value="3">Others</option>
                                </select>
                                <label>Gender</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">location_on</i>
                                <input id="address1" type="text" class="validate" ng-model="singleCustomer.address1">
                                <label for="address1">Address Line1</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">location_on</i>
                                <input id="address2" type="text" class="validate" ng-model="singleCustomer.address2">
                                <label for="address2">Address Line2</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">location_on</i>
                                <input id="city" type="text" class="validate" ng-model="singleCustomer.city">
                                <label for="city">City</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">location_on</i>
                                <input id="state" type="text" class="validate" ng-model="singleCustomer.state">
                                <label for="state">State</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">location_on</i>
                                <input id="country" type="text" value="Singapore" class="validate" ng-model="singleCustomer.country">
                                <label class="active" for="country">Country</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">location_on</i>
                                <input id="pincode" type="text" class="validate" ng-model="singleCustomer.pincode">
                                <label for="pincode">Pincode</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">perm_contact_calendar</i>
                                <!--<input input-date
                                       type="text"
                                       name="dob"
                                       id="dob"
                                       ng-model="currentTime"
                                       container="body"
                                       format="dd/mm/yyyy"
                                       />-->

                                <datepicker date-format="dd/MM/yyyy"  class="datepic">
                                    <input ng-model="singleCustomer.dob" type="text" />
                                </datepicker>
                                <label class="active" for="dob">DOB</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">assignment</i>
                                <select material-select id="leadsource" ng-model="singleCustomer.lead_id">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="1">Web</option>
                                    <option value="2">Google</option>
                                    <option value="3">Facebook</option>
                                    <option value="4">Twitter</option>
                                </select>
                                <label>Lead Source</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">work</i>
                                <input id="occupation" type="text" class="validate" ng-model="singleCustomer.occupation">
                                <label for="occupation">Occupation</label>
                            </div>
                            <div class="file-field input-field col l6 m12 s12">
                                <i class="material-icons prefix">launch</i>
                                <input type="file">
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" style="padding-left:30px;" placeholder="Upload profile image">
                                </div>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">mode_edit</i>
                                <textarea id="interest" class="materialize-textarea" ng-model="singleCustomer.interest"></textarea>
                                <label for="interest">Interest</label>
                            </div>
                        </div>
                        <div class="row center-align">
                            <button class="btn waves-effect waves-light" type="submit" name="action">
                                Submit
                                <i class="material-icons right">add</i>
                            </button>
                        </div>
                    </form>
                </div>
                <div id="viewsection" class="dis_none">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active"><i class="material-icons">assignment_ind</i>GENERAL INFORMATION</div>
                            <div class="collapsible-body">
                                <div class="row" style="padding-top:10px;">
                                    <div class="col s12 m6">
                                        <img src="img/background.jpg" alt="" class="circle responsive-img">
                                    </div>
                                    <div class="col s12 m6">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input readonly id="fname" type="text" class="validate" ng-model="singleCustomer.fname">
                                                <label class=" active" for="fname">First Name</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input readonly id="lname" type="text" class="validate" ng-model="singleCustomer.lname">
                                                <label class="active" for="lname">Last Name</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input readonly id="lname" type="text" class="validate" ng-model="singleCustomer.member_id | memberType">
                                                <label class="active" for="lname">Member Type</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input readonly id="leadsource" type="text" class="validate" ng-model="singleCustomer.lead_id | leadSource">
                                                <label class="active" for="leadsource">Lead Source</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">info</i>ABOUT</div>
                            <div class="collapsible-body">
                                <div class="row" style="padding-top:10px;">
                                    <div class="input-field col s12 m6">
                                        <input readonly id="dob" type="text" class="validate" ng-model="singleCustomer.dob">
                                        <label class="active" for="dob">DOB</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input readonly id="gender" type="text" class="validate" ng-model="singleCustomer.gender | genderType">
                                        <label class="active" for="pincode">Gender</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input readonly id="occupation" type="text" class="validate" ng-model="singleCustomer.occupation">
                                        <label class="active" for="occupation">Occupation</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input readonly id="interest" type="text" class="validate" ng-model="singleCustomer.interest">
                                        <label class="active" for="interest">Interest</label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">place</i>CONTACT INFORMATION</div>
                            <div class="collapsible-body">
                                <div class="row" style="padding-top:10px;">
                                    <div class="input-field col s12 m6">
                                        <input readonly id="phone" type="text" class="validate" ng-model="singleCustomer.phone">
                                        <label class="active" for="phone">Phone</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input readonly id="mobile" type="text" class="validate" ng-model="singleCustomer.mobile">
                                        <label class="active" for="mobile">Mobile</label>
                                    </div>
                                    <div class="input-field col s12 m12">
                                        <input readonly id="email" type="text" class="validate" ng-model="singleCustomer.email">
                                        <label class="active" for="email">Email</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input readonly id="address1" type="text" class="validate" ng-model="singleCustomer.address1">
                                        <label class="active" for="address1">Address 1</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input readonly id="address2" type="text" class="validate" ng-model="singleCustomer.address2">
                                        <label class="active" for="address2">Address 2</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input readonly id="city" type="text" class="validate" ng-model="singleCustomer.city">
                                        <label class="active" for="city">City</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input readonly id="state" type="text" class="validate" ng-model="singleCustomer.state">
                                        <label class="active" for="state">State</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input readonly id="country" type="text" class="validate" ng-model="singleCustomer.country">
                                        <label class="active" for="country">Country</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input readonly id="pincode" type="text" class="validate" ng-model="singleCustomer.pincode">
                                        <label class="active" for="pincode">Pincode</label>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--<div id="test3" class="col s12">
            <div style="padding-top:20px;">
                <ul class="collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header active"><i class="material-icons">assignment_ind</i>GENERAL INFORMATION</div>
                        <div class="collapsible-body">
                            <div class="row" style="padding-top:10px;">
                                <div class="col s12 m6">
                                    <img src="img/profile.jpg" alt="" class="circle responsive-img">
                                </div>
                                <div class="col s12 m6">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="fname" type="text" class="validate">
                                            <label class="active" for="fname">First Name</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="lname" type="text" class="validate">
                                            <label class="active" for="lname">Last Name</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <select material-select id="leadsource">
                                                <option value="" disabled selected>Choose your option</option>
                                                <option value="1">Web</option>
                                                <option value="2">Google</option>
                                                <option value="3">Facebook</option>
                                                <option value="4">Twitter</option>
                                            </select>
                                            <label class="active" for="leadsource">Lead Source</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">info</i>ABOUT</div>
                        <div class="collapsible-body">
                            <div class="row" style="padding-top:10px;">
                                <div class="input-field col s12 m6">
                                    <input id="dob" type="text" class="validate">
                                    <label class="active" for="dob">DOB</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <select material-select id="gender">
                                        <option value="" disabled selected>Choose your option</option>
                                        <option value="1">Male</option>
                                        <option value="2">Female</option>
                                        <option value="3">Others</option>
                                    </select>
                                    <label class="active" for="pincode">Gender</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input id="occupation" type="text" class="validate">
                                    <label class="active" for="occupation">Occupation</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input id="interest" type="text" class="validate">
                                    <label class="active" for="interest">Interest</label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">place</i>CONTACT INFORMATION</div>
                        <div class="collapsible-body">
                            <div class="row" style="padding-top:10px;">
                                <div class="input-field col s12 m6">
                                    <input id="phone" type="text" class="validate">
                                    <label class="active" for="phone">Phone</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input id="mobile" type="text" class="validate">
                                    <label class="active" for="mobile">Mobile</label>
                                </div>
                                <div class="input-field col s12 m12">
                                    <input id="email" type="text" class="validate">
                                    <label class="active" for="email">Email</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input id="address1" type="text" class="validate">
                                    <label class="active" for="address1">Address 1</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input id="address2" type="text" class="validate">
                                    <label class="active" for="address2">Address 2</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input id="city" type="text" class="validate">
                                    <label class="active" for="city">City</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input id="state" type="text" class="validate">
                                    <label class="active" for="state">State</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input id="country" type="text" class="validate">
                                    <label class="active" for="country">Country</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input id="pincode" type="text" class="validate">
                                    <label class="active" for="pincode">Pincode</label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="test4" class="col s12 offset-m1 m10 offset-l1 l10">
            <div style="padding-top:20px;">
                <ul class="collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header active"><i class="material-icons">assignment_ind</i>GENERAL INFORMATION</div>
                        <div class="collapsible-body">
                            <div class="row" style="padding-top:10px;">
                                <div class="col s12 m6">
                                    <img src="img/background.jpg" alt="" class="circle responsive-img">
                                </div>
                                <div class="col s12 m6">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input readonly id="fname" type="text" class="validate">
                                            <label class="active" for="fname">First Name</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input readonly id="lname" type="text" class="validate">
                                            <label class="active" for="lname">Last Name</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input readonly id="leadsource" type="text" class="validate">
                                            <label class="active" for="leadsource">Lead Source</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">info</i>ABOUT</div>
                        <div class="collapsible-body">
                            <div class="row" style="padding-top:10px;">
                                <div class="input-field col s12 m6">
                                    <input readonly id="dob" type="text" class="validate">
                                    <label class="active" for="dob">DOB</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input readonly id="gender" type="text" class="validate">
                                    <label class="active" for="pincode">Gender</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input readonly id="occupation" type="text" class="validate">
                                    <label class="active" for="occupation">Occupation</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input readonly id="interest" type="text" class="validate">
                                    <label class="active" for="interest">Interest</label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">place</i>CONTACT INFORMATION</div>
                        <div class="collapsible-body">
                            <div class="row" style="padding-top:10px;">
                                <div class="input-field col s12 m6">
                                    <input readonly id="phone" type="text" class="validate">
                                    <label class="active" for="phone">Phone</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input readonly id="mobile" type="text" class="validate">
                                    <label class="active" for="mobile">Mobile</label>
                                </div>
                                <div class="input-field col s12 m12">
                                    <input readonly id="email" type="text" class="validate">
                                    <label class="active" for="email">Email</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input readonly id="address1" type="text" class="validate">
                                    <label class="active" for="address1">Address 1</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input readonly id="address2" type="text" class="validate">
                                    <label class="active" for="address2">Address 2</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input readonly id="city" type="text" class="validate">
                                    <label class="active" for="city">City</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input readonly id="state" type="text" class="validate">
                                    <label class="active" for="state">State</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input readonly id="country" type="text" class="validate">
                                    <label class="active" for="country">Country</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input readonly id="pincode" type="text" class="validate">
                                    <label class="active" for="pincode">Pincode</label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>-->
    </div>
</div>
