<div class="dashboard-wrapper"> 
  <div class="row">
  <div class="card-mini-progress valign-wrapper block--shadow col">
    <div class="card-mini__progress">
      <div
        round-progress
        max="max"
        current="percentageset"
        color="#45ccce"
        bgcolor="#eaeaea"
        radius="100"
        stroke="20"
        semi="false"
        rounded="false"
        clockwise="true"
        responsive="true"
        duration="1500"
        animation="easeInBounce"
        animation-delay="0" >
        </div>
     </div>
     <div>
       <span style="font-size:18px;"> Sales Achieved </span>
       <div>
           <span>{{percentage}}% Up this month</span><br/>
           <span>Target : {{target}}</span><br />
           <span>Achieved : {{qty}}</span>
       </div>
     </div>
  </div>
  <div class="card-mini-progress valign-wrapper block--shadow col" ng-click="gotoOpencase()">
      <div class="card-mini__progress">
          <div class="purple accent-3 dashround"><span class="count block--center">{{opencasecount}}</span></div>
      </div>
     <div>
       <span style="font-size:18px;"> Open Cases </span>
       </div>
  </div>
  <div class="card-mini-progress valign-wrapper block--shadow col">
      <div class="card-mini__progress">
          <div class="green accent-3 dashround"><span class="count block--center">{{upcomingappoinmentcount}}</span></div>
      </div>
     <div>
       <span style="font-size:18px;"> Upcoming Appointments </span>
       </div>
  </div>
  </div>
    <div class="row">
        <div class="card-mini-progress valign-wrapper block--shadow col" ng-click="gotoClosecase()">
            <div class="card-mini__progress">
                <div class="lime accent-3 dashround"><span class="count block--center">{{closecasecount}}</span></div>
            </div>
            <div>
                <span style="font-size:18px;"> Closed Deals </span>
                </div>
        </div>

        <div class="card-mini-progress valign-wrapper block--shadow col" ng-click="gotoHotCustomerList()">
            <div class="card-mini__progress">
                <div class="blue-grey lighten-2 dashround"><span class="count block--center">{{hotcustomercount}}</span></div>
            </div>
            <div>
                <span style="font-size:18px;"> Hot Leads </span>
                </div>
        </div>

        <div class="card-mini-progress valign-wrapper block--shadow col" ng-click="gotoCustomerList()">
            <div class="card-mini__progress">
                <div class="purple lighten-2 dashround"><span class="count block--center">{{customercount}}</span></div>
            </div>
            <div>
                <span style="font-size:18px;"> Cutomers </span>
               </div>
        </div>
    </div>    
  <div class="row" style="padding-top:20px;">
           <div class="card-wrapper card-to-do block--shadow col">
                <div class="card-panel teal"><i class="material-icons" style="vertical-align: bottom;margin-right: 10px;">receipt</i> To do list</div>
                <div class="card-panel-body">
                    <p ng-repeat="list in todoList" ng-if="list.status !=1">
                        <input type="checkbox" id="test{{list.id}}" ng-model="chkbox" ng-click="editTodo($event, list)"/>
                        <label for="test{{list.id}}">{{list.title}}</label>
                    </p>
                </div>
                <div class="card-panel-footer">
                    <div class="input-field to-do-input">
                        <input id="first_name" type="text" class="validate" ng-model="todayTask">
                        <label for="first_name">To Do content</label>
                    </div>
                    <a class="btn-floating btn-large waves-effect waves-light btn-perple" ng-click="addTodo();">
                        <i class="material-icons">done</i>
                    </a>
                </div>
            </div>
            <div class="card-wrapper card-to-do block--shadow col">
              <div class="card-panel teal"><i class="material-icons" style="vertical-align: bottom;margin-right: 10px;">query_builder</i> Notification</div>
              <div class="card-panel-body" style="height:416px;">
                  <table>
                      <tr>
                          <th>Type</th>
                          <th>Title</th>
                          <th>Status</th>
                      </tr>
                      <tr ng-repeat="note in notificationlist">
                          <td>{{note.type}}</td>
                          <td>{{note.title}}</td>
                          <td><img ng-src="{{note.mode | notificationImg}}" alt="app" style="width:30px;height:30px;cursor:pointer" ng-click="singleView(note.id,note.type)"/></td>
                      </tr>
                  </table>
              </div>
           </div>
        </div>


        <div ng-if="lowproductlist.length!=0" class="row" style="padding-top:20px;">
           <div class="card-wrapper1 card-to-do block--shadow col">
                <div class="card-panel teal"><i class="material-icons" style="vertical-align: bottom;margin-right: 10px;">receipt</i> Low Quantity Product List</div>
                <div class="card-panel-body" style="height:600px;">
                   <table class="bordered striped">
        <thead>
          <tr>
              <th>Product ID</th>
              <th>Product Name</th>
              <th>Category</th>
              <th>Item Price</th>
              <th>Quantity</th>
              <th>Add Product</th>
          </tr>
        </thead>

        <tbody>
           <tr ng-repeat="low in lowproductlist">
            <td>{{low.id}}</td>
            <td>{{low.prod_name}}</td>
            <td>{{low.category.category_name}}</td>
            <td>$ {{low.price}}</td>
            <td>{{low.qty}}</td>
            <td>
                <div class="input-field col s6">
                    <input id="addqty" type="number" class="validate">
                    <label for="addqty">Quantity</label>
                </div>
                 <button  style="margin-top:20px; margin-left:20px;" type="button" class="btn-floating btn-large waves-effect waves-light" ng-click="updateProductQty(low.id)">
                                        <i class="material-icons">done</i>
                                    </button>
            </td>
        </tr>
        </tbody>
      </table>
                </div>
            </div>
        </div>
        
    </div>