<div class="col s10 offset-s1">
    <div style="padding-top:20px;">
            <form>
                <div class="row">
                    <div class="input-field col l6 m12 s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="fname" type="text" class="validate" ng-model="singleCustomer.fname">
                        <label for="fname">First Name</label>
                    </div>
                    <div class="input-field col l6 m12 s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="lname" type="text" class="validate" ng-model="singleCustomer.lname">
                        <label for="lname">Last Name</label>
                    </div>
                    <div class="input-field col l6 m12 s12">
                        <i class="material-icons prefix">phone</i>
                        <input id="phone" type="tel" class="validate" ng-model="singleCustomer.phone">
                        <label for="phone">Telephone</label>
                    </div>
                    <div class="input-field col l6 m12 s12">
                        <i class="material-icons prefix">stay_primary_portrait</i>
                        <input id="mobile" type="tel" class="validate" ng-model="singleCustomer.mobile">
                        <label for="mobile">Mobile</label>
                    </div>
                    <div class="input-field col l6 m12 s12">
                        <i class="material-icons prefix">email</i>
                        <input id="email" type="email" class="validate" ng-model="singleCustomer.email">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col l6 m12 s12">
                        <i class="material-icons prefix">stars</i>
                        <select class="" ng-model="singleCustomer.membership_id" material-select watch>
                            <option value="" disabled selected>Choose Membership</option>
                            <option ng-repeat="value in membership" value="{{value.id}}">{{value.membership_name}}</option>
                        </select>
                        <label>Membership</label>
                        <span class="droparrow"><img src="../img/arrow.png" /></span>
                    </div>
                    <div class="input-field col l6 m12 s12">
                        <i class="material-icons prefix">invert_colors</i>
                        <select material-select id="hot" ng-model="singleCustomer.hot">
                            <option value="" disabled selected>Choose Hot</option>
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                        <label>Hot Customer</label>
                        <span class="droparrow"><img src="../img/arrow.png" /></span>
                    </div>
                    <div class="input-field col l6 m12 s12">
                        <i class="material-icons prefix">perm_identity</i>
                        <select material-select id="gender" ng-model="singleCustomer.gender">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Others</option>
                        </select>
                        <label>Gender</label>
                        <span class="droparrow"><img src="../img/arrow.png" /></span>
                        <!--<span class="droparrow"><i class="fa fa-arrow-down" aria-hidden="true"></i></span>-->
                    </div>
                    <div class="input-field col l6 m12 s12">
                        <i class="material-icons prefix">location_on</i>
                        <input id="address1" type="text" class="validate" ng-model="singleCustomer.address1">
                        <label for="address1">Address Line1</label>
                    </div>
                    <div class="input-field col l6 m12 s12">
                        <i class="material-icons prefix">location_on</i>
                        <input id="address2" type="text" class="validate" ng-model="singleCustomer.address2">
                        <label for="address2">Address Line2</label>
                    </div>
                    <div class="input-field col l6 m12 s12">
                        <i class="material-icons prefix">location_on</i>
                        <input id="city" type="text" class="validate" ng-model="singleCustomer.city">
                        <label for="city">City</label>
                    </div>
                    <div class="input-field col l6 m12 s12">
                        <i class="material-icons prefix">location_on</i>
                        <input id="state" type="text" class="validate" ng-model="singleCustomer.state">
                        <label for="state">State</label>
                    </div>
                    <div class="input-field col l6 m12 s12">
                        <i class="material-icons prefix">location_on</i>
                        <input id="country" type="text" value="Singapore" class="validate" ng-model="singleCustomer.country">
                        <label class="active" for="country">Country</label>
                    </div>
                    <div class="input-field col l6 m12 s12">
                        <i class="material-icons prefix">location_on</i>
                        <input id="pincode" type="text" class="validate" ng-model="singleCustomer.pincode">
                        <label for="pincode">Pincode</label>
                    </div>
                    <div class="input-field col l6 m12 s12">
                        <i class="material-icons prefix">perm_contact_calendar</i>
                        <datepicker date-format="yyyy-MM-dd" class="datepic">
                            <input ng-model="singleCustomer.dob" type="text" />
                        </datepicker>
                        <label class="active" for="dob">DOB</label>
                    </div>
                    <div class="input-field col l6 m12 s12">
                        <i class="material-icons prefix">assignment</i>
                        <select material-select id="leadsource" ng-model="singleCustomer.lead_source">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="Web">Web</option>
                            <option value="Google">Google</option>
                            <option value="Facebook">Facebook</option>
                            <option value="Twitter">Twitter</option>
                            <option value="Newspaper">Newspaper</option>
                        </select>
                        <label>Lead Source</label>
                        <span class="droparrow"><img src="../img/arrow.png" /></span>
                    </div>
                    <div class="input-field col l6 m12 s12">
                        <i class="material-icons prefix">work</i>
                        <input id="occupation" type="text" class="validate" ng-model="singleCustomer.occupation">
                        <label for="occupation">Occupation</label>
                    </div>
                    <div class="file-field input-field col l6 m12 s12">
                        <i class="material-icons prefix">launch</i>
                        <input type="file">
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" style="padding-left:30px;" placeholder="Upload profile image">
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="interest" class="materialize-textarea" ng-model="singleCustomer.interst"></textarea>
                        <label for="interest">Interest</label>
                    </div>
                </div>
                <div class="row center-align">
                    <button class="btn waves-effect waves-light" type="button" name="action" ng-click="editCustomer(singleCustomer)">
                        Submit
                        <i class="material-icons right">add</i>
                    </button>
                </div>
            </form>
    </div>
</div>
