<div class="collapsible-header waves-effect waves-light"><i class="material-icons">dns</i>Email Configuration</div>
                    <div class="collapsible-body">
                        <div class="row center-align">
                            <div class="col m8 s12">
                                <div class="input-field manage-wrapper__input">
                                    <input id="host" type="text" class="validate">
                                    <label for="host">Host</label>
                                </div>
                                <div class="input-field manage-wrapper__input">
                                    <input id="port" type="text" class="validate">
                                    <label for="port">Port</label>
                                </div>
                                <div class="input-field manage-wrapper__input">
                                    <input id="smtp_name" type="text" class="validate">
                                    <label for="smtp_name">Smpt Username</label>
                                </div>
                                <div class="input-field manage-wrapper__input">
                                    <input id="smtp_pass" type="password" class="validate">
                                    <label for="smtp_pass">Smtp Password</label>
                                </div>
                                <a class="btn-floating btn-large waves-effect waves-light btn-perple">
                                    <i class="material-icons">done</i>
                                </a>
                            </div>
                        </div>
                    </div>