<div class="login login--bgcolor">
    <div class="login__form block--shadow block--center">
        <div class="login__form-header">
            <img class="block--center" src="img/logo.png"/>
        </div>
        <form>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email" data-error="Please enter valid Email ID">Email</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            
            <a ui-sref="app.dashboard" class="btn-floating btn-large waves-effect waves-light "><i class="material-icons">vpn_key</i></a>
        </form>
    </div>
    
</div>