<div class="login login--bgcolor">
    <div class="login__form block--shadow block--center">
        <div class="login__form-header">
            <img class="block--center" src="img/logo.png"/>
        </div>
        <form name="loginForm">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" type="text" class="validate" ng-model="userd.user_name" required value="Balachandran">
                    <label for="username" data-error="Please enter valid User ID">Username</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" ng-model="userd.password" required value="Bala">
                    <label for="password">Password</label>
                </div>
            </div>

            <button type="submit" ng-disabled="loginForm.$invalid" ng-click="login(userd)" class="btn-floating btn-large waves-effect waves-light "><i class="material-icons">vpn_key</i></button>
        </form>
    </div>
    
</div>