<!-- header part -->
<header class="header block--shadow right-align">
    <div class="header__logo show-tablet">
        <div class="block--center" style="top: 54%;">
            <img src="img/login-logo.png" alt="Logo" />
            <a href="#" data-activates="slide-out" class="button-collapse" data-sidenav="left" data-menuwidth="290" data-closeonclick="true"><i class="material-icons">view_list</i></a>
        </div>
    </div>
    <a class="btn-floating btn-large waves-effect waves-light" data-activates='demoDropdown' dropdown data-constrainwidth="true">
        <i class="material-icons">more_vert</i>
    </a>

    <!-- Dropdown Structure -->
    <ul id='demoDropdown' class='dropdown-content'>
        <li><a ui-sref="app.profile" class="waves-effect waves-teal"><i class="material-icons">perm_identity</i><span>Profile</span></a></li>
        <li><a ui-sref="app.profile" class="waves-effect waves-teal"><i class="material-icons">settings</i><span>Change password</span></a></li>
        <li><a ui-sref="login" class="waves-effect waves-teal"><i class="material-icons">power_settings_new</i><span>Logout</span></a></li>
    </ul>
</header>

<!-- left side menu part -->
<section class="main-menu side-nav fixed" id="slide-out" ng-controller="ApplicationCtrl">
    <header class="main-menu__header">
        <img class="block--center" src="img/logo.png" alt="Logo" />
    </header>

    <section class="main-menu__user-info">
        <div class="user-picto valign-wrapper">
            <img ng-src="{{userinfo.photo}}" alt="user pic" class="circle" />
            <p>
                <span>{{userinfo.fname}} {{userinfo.lname}}</span><br/>
                <span>{{userinfo.role | userRole}}</span>
            </p>
        </div>
    </section>
    <section class="main-menu__items">
        <ul>
            <li>
                <a ui-sref="app.dashboard" class="waves-effect waves-light active" ng-class="{active: $state.is('app.dashboard')}">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a ui-sref="app.customers" class="waves-effect waves-light" ng-class="{active: $state.is('app.customers')}">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span>Customers</span>
                </a>
            </li>
            <li>
                <a ui-sref="app.staff" class="waves-effect waves-light" ng-class="{active: $state.includes('app.staff')}">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>Staff</span>
                </a>
            </li>
            <li>
                <a ui-sref="app.appoinment" class="waves-effect waves-light" ng-class="{active: $state.includes('app.appoinment')}">
                    <i class="fa fa-file-text" aria-hidden="true"></i>
                    <span>Appoinment</span>
                </a>
            </li>
            <li>
                <a ui-sref="app.case" class="waves-effect waves-light" ng-class="{active: $state.includes('app.case')}">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <span>Case</span>
                </a>
            </li>
            <li>
                <a ui-sref="app.profile" class="waves-effect waves-light" ng-class="{active: $state.includes('app.profile')}">
                    <i class="fa fa-product-hunt" aria-hidden="true"></i>
                    <span>Product</span>
                </a>
            </li>
            <li>
                <a ui-sref="app.manage" class="waves-effect waves-light" ng-class="{active: $state.includes('app.manage')}">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    <span>Manage</span>
                </a>
            </li>
        </ul>
    </section>
</section>

<!-- Main content -->
<section class="main-content">
    <div ui-view></div>
</section>

<!-- footer part -->
<footer class="footer block--shadow">
    <div class="align--right">Powered by ZeroDot Consultancy.</div>
    
</footer>