<div class="manage-wrapper">
    <div class="row">
        <div class="col s12">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header waves-effect waves-light"><i class="material-icons">assignment_ind</i>User Role</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <!--<div class="col m4 s12 get-input-from-User">
                                <div class="input-field manage-wrapper__input">
                                    <input id="fname" type="text" class="validate" ng-model="userRole.id">
                                    <label for="fname">User ID</label>
                                </div>
                                <div class="input-field manage-wrapper__input">
                                    <input id="lname" type="text" class="validate" ng-model="userRole.name">
                                    <label for="lname">User Name</label>
                                </div>
                                <a class="btn-floating btn-large waves-effect waves-light btn-perple">
                                    <i class="material-icons">done</i>
                                </a>
                            </div>-->
                            <div class="col m8 s12">
                                <table datatable="ng" data-length-change="false" data-filter="false" data-display-length="3" class="row-border hover">
                                    <thead>
                                        <tr>
                                            <th>User ID</th>
                                            <th>User Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="user in userRoleList">
                                            <td>{{ user.role_id }}</td>
                                            <td>{{ user.role_type }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </li>
                                <li>
                    <div class="collapsible-header waves-effect waves-light active"><i class="material-icons">person_pin</i>Membership Type</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col m4 s12 get-input-from-User" style="margin-top:25px;">
                                <form name="membershipform">
                                   <div class="input-field manage-wrapper__input" style="display:none;">
                                        <input id="mid" type="text" class="validate" name="mid" ng-model="membership.id">
                                        <label for="mid">MemberShip ID</label>
                                    </div>

                                   <div class="input-field manage-wrapper__input">
                                        <input id="membership_name" type="text" class="validate" name="membership_name" ng-model="membership.membership_name" required="true">
                                        <label for="membership_name">Membership Name</label>
                                    </div>

                                    <button style="margin-top:25px;" type="button" class="btn-floating btn-large waves-effect waves-light btn-perple" ng-disabled="membershipform.$invalid" ng-click="addMembership(membership)">
                                        <i class="material-icons">done</i>
                                    </button>
                                </form>
                            </div>
                            <div class="col m8 s12">
                                <table datatable="ng" data-length-change="false" data-filter="false" data-display-length="3" class="row-border hover">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Membership ID</th>
                                            <th>Membership Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="member in memberTypeList">
                                            <td><i ng-click="membershipEdit(member)" class="material-icons" style="cursor:pointer">mode_edit</i></td>
                                            <td>{{ member.id }}</td>
                                            <td>{{ member.membership_name }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header waves-effect waves-light"><i class="material-icons">call_merge</i>Product Category</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col m4 s12 get-input-from-User" style="margin-top:25px;">
                               <form name="productcategoryform">
                                   <div class="input-field manage-wrapper__input" style="display:none;">
                                        <input id="pcid" type="text" class="validate" name="pcid" ng-model="productCategory.id">
                                        <label for="pcid">Product Category ID</label>
                                    </div>

                                   <div class="input-field manage-wrapper__input">
                                        <input id="category_name" type="text" class="validate" name="category_name" ng-model="productCategory.category_name" required="true">
                                        <label for="category_name">Product Category Name</label>
                                    </div>

                                    <button style="margin-top:25px;" type="button" class="btn-floating btn-large waves-effect waves-light btn-perple" ng-disabled="productcategoryform.$invalid" ng-click="addProductCategory(productCategory)">
                                        <i class="material-icons">done</i>
                                    </button>
                                </form>
                            </div>
                           
                            <div class="col m8 s12">
                                <table datatable="ng" data-length-change="false" data-filter="false" data-display-length="3" class="row-border hover">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Product Category ID</th>
                                            <th>Product Category Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="product in productCategoryList">
                                            <td><i ng-click="productCategoryEdit(product)" class="material-icons" style="cursor:pointer">mode_edit</i></td>
                                            <td>{{ product.id }}</td>
                                            <td>{{ product.category_name }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </li>
                <li>
                    <div class="collapsible-header waves-effect waves-light"><i class="material-icons">filter_drama</i>Lead Source</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <!--<div class="col m4 s12 get-input-from-User">
                                <div class="input-field manage-wrapper__input">
                                    <input id="fname" type="text" class="validate" ng-model="leadSource.id">
                                    <label for="fname">Lead Source ID</label>
                                </div>
                                <div class="input-field manage-wrapper__input">
                                    <input id="lname" type="text" class="validate" ng-model="leadSource.name">
                                    <label for="lname">Lead Source Name</label>
                                </div>
                                <a class="btn-floating btn-large waves-effect waves-light btn-perple">
                                    <i class="material-icons">done</i>
                                </a>
                            </div>-->
                            <div class="col m8 s12">
                                <table datatable="ng" data-length-change="false" data-filter="false" data-display-length="3" class="row-border hover">
                                    <thead>
                                        <tr>
                                            <th>Lead Source ID</th>
                                            <th>Lead Source Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="lead in leadSourceList">
                                            <td>{{ lead.lead_id }}</td>
                                            <td>{{ lead.lead_name }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </li>
                </ul>
        </div>
     </div>
</div>
