<div>
    <table datatable="ng" class="row-border hover" data-display-length="4">
        <thead>
            <tr>
                <th></th>
                <th>Ticket Name</th>
                <th>Case Name</th>
                <th>Status</th>
                <th>Assignee</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="lticket in pastticketlist">
                <td><i class="material-icons" style="cursor:pointer" ng-click="singleTicView(lticket.id)">visibility</i></td>
                <td>{{ lticket.ticket_name }}</td>
                <td>{{ lticket.cased.case_name}}</td>
                <td>{{ lticket.status}}</td>
                <td>{{ lticket.assigned_id }}</td>
                <td>{{ lticket.description }}</td>

            </tr>
        </tbody>
    </table>
</div>