<div class="row" style="padding-top:30px;padding-bottom:30px;border-bottom:2px solid #000;">
    <div class="center-align">
            <h5>Ticket Details</h5>
    </div>

    <table>
        <thead>
          <tr>
              <th>Ticket Name</th>
              <th>Status</th>
              <th>Case Name</th>
              <th>Description</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>{{singleTicket.ticket_name}}</td>
            <td>{{singleTicket.status}}</td>
            <td>{{singleTicket.cased.case_name}}</td>
            <td>{{singleTicket.description}}</td>
          </tr>
        </tbody>
      </table>

</div>
<div class="row">
    <div class="col s12 m12 l6">
        <div class="center-align">
            <h5>Created By</h5>
        </div>
        <table class="striped bordered">
        <thead>
          <tr>
              <th>Field</th>
              <th>Value</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="boldtext">First Name</td>
            <td>{{singleTicket.user.fname}}</td>
          </tr>
          <tr>
            <td class="boldtext">Last Name</td>
            <td>{{singleTicket.user.lname}}</td>
          </tr>
          <tr>
            <td class="boldtext">Mobile</td>
            <td>{{singleTicket.user.mobile}}</td>
          </tr>
          <tr>
            <td class="boldtext">Phone</td>
            <td>{{singleTicket.user.phone}}</td>
          </tr>
          <tr>
            <td class="boldtext">Email</td>
            <td>{{singleTicket.user.email}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col s12 m12 l6 ">
        <div class="center-align">
            <h5>Assigned To</h5>
        </div>
        <table class="striped bordered">
        <thead>
          <tr>
              <th>Field</th>
              <th>Value</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="boldtext">First Name</td>
            <td>{{singleStaff.fname}}</td>
          </tr>
          <tr>
            <td class="boldtext">Last Name</td>
            <td>{{singleStaff.lname}}</td>
          </tr>
          <tr>
            <td class="boldtext">Mobile</td>
            <td>{{singleStaff.mobile}}</td>
          </tr>
          <tr>
            <td class="boldtext">Phone</td>
            <td>{{singleStaff.phone}}</td>
          </tr>
          <tr>
            <td class="boldtext">Email</td>
            <td>{{singleStaff.email}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>