<button ng-click="gotoAdd()" class="btn waves-effect waves-light">Add Staff<i class="material-icons right">add</i></button>
<div style="padding-top:30px;">
    <div class="row">
        <div id="test1" class="col s12" style="padding-top:20px;">
            <table datatable="ng" class="row-border hover">
                <thead>
                    <tr>
                        <th style="min-width:100px"></th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Mobile</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="stf in stafflist">
                        <td><i ng-click="staffEdit(stf.id)" class="material-icons" style="cursor:pointer">mode_edit</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i ng-click="staffView(stf.id)" class="material-icons" style="cursor:pointer">visibility</i></td>
                        <td>{{ stf.fname }} {{ stf.lname }}</td>
                        <td>{{ stf.gender }}</td>
                        <td>{{ stf.mobile }}</td>
                        <td>{{ stf.email }}</td>
                        <td>{{ stf.phone }}</td>
                        <td>{{ stf.address1 }} {{ stf.address2 }} {{ stf.city }} {{ stf.state }} {{ stf.country }} {{ stf.pincode }}</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
       </div>
</div>
