<div style="padding-top:30px;">
    <div class="row">
        <div class="col s12">
            <ul class="tabs" tabs>
                <li class="tab col s2" ng-click="clickStaff()"><a class="active" href="#test1">Staff List</a></li>
                <li class="tab col s2"><a href="#test2" id="staffHead">Add Staff</a></li>
            </ul>
        </div>
        <div id="test1" class="col s12" style="padding-top:20px;">
            <table datatable="ng" class="row-border hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Department</th>
                        <th>Mobile</th>
                        <th>Email</th>
                        


                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="stf in stafflist">
                        <td><i ng-click="staffEdit(stf)" class="material-icons" style="cursor:pointer">mode_edit</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i ng-click="staffView(stf)" class="material-icons" style="cursor:pointer">visibility</i></td>
                        <td>{{ stf.fname }}</td>
                        <td>{{ stf.lname }}</td>
                        <td>{{ stf.role_id | userRole }}</td>
                        <td>{{ stf.mobile }}</td>
                        <td>{{ stf.email }}</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="test2" class="col s10 offset-s1">
            <div style="padding-top:20px;">
                <div id="addeditsection">
                    <form>
                        <div class="row">
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="fname" type="text" class="validate" ng-model="singleStaff.fname">
                                <label for="fname">First Name</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="lname" type="text" class="validate" ng-model="singleStaff.lname">
                                <label for="lname">Last Name</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="username" type="text" class="validate" ng-model="singleStaff.username">
                                <label for="username">User Name</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="password" type="password" class="validate" ng-model="singleStaff.password">
                                <label for="password">Password</label>
                            </div>
                            <div class="input-field col l6 m12 s12" ng-if="showconfirmpassword">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="cpassword" type="password" class="validate">
                                <label for="cpassword">Confirm Password</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">phone</i>
                                <input id="phone" type="tel" class="validate" ng-model="singleStaff.phone">
                                <label for="phone">Telephone</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">stay_primary_portrait</i>
                                <input id="mobile" type="tel" class="validate" ng-model="singleStaff.mobile">
                                <label for="mobile">Mobile</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">email</i>
                                <input id="email" type="email" class="validate" ng-model="singleStaff.email">
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">perm_identity</i>
                                <select material-select id="gender" ng-model="singleStaff.gender">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                    <option value="3">Others</option>
                                </select>
                                <label>Gender</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">location_on</i>
                                <input id="address1" type="text" class="validate" ng-model="singleStaff.address1">
                                <label for="address1">Address Line1</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">location_on</i>
                                <input id="address2" type="text" class="validate" ng-model="singleStaff.address2">
                                <label for="address2">Address Line2</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">location_on</i>
                                <input id="city" type="text" class="validate" ng-model="singleStaff.city">
                                <label for="city">City</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">location_on</i>
                                <input id="state" type="text" class="validate" ng-model="singleStaff.state">
                                <label for="state">State</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">location_on</i>
                                <input id="country" type="text" value="Singapore" class="validate" ng-model="singleStaff.country">
                                <label class="active" for="country">Country</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">location_on</i>
                                <input id="pincode" type="text" class="validate" ng-model="singleStaff.pincode">
                                <label for="pincode">Pincode</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">perm_contact_calendar</i>
                                <datepicker date-format="dd/MM/yyyy" class="datepic">
                                    <input ng-model="singleStaff.dob" type="text" />
                                </datepicker>
                                <label class="active" for="dob">DOB</label>
                            </div>
                            <div class="input-field col l6 m12 s12">
                                <i class="material-icons prefix">assignment</i>
                                <select material-select id="leadsource" ng-model="singleStaff.role_id">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="1">Admin</option>
                                    <option value="2">Sales</option>
                                    <option value="3">Marketing</option>
                                    <option value="4">Support</option>
                                    <option value="5">Telecaller</option>
                                </select>
                                <label>Departmen</label>
                            </div>
                            <div class="file-field input-field col l6 m12 s12">
                                <i class="material-icons prefix">launch</i>
                                <input type="file">
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" style="padding-left:30px;" placeholder="Upload profile image">
                                </div>
                            </div>
                        </div>
                        <div class="row center-align">
                            <button class="btn waves-effect waves-light" type="submit" name="action">
                                Submit
                                <i class="material-icons right">add</i>
                            </button>
                        </div>
                    </form>
                </div>
                <div id="viewsection" class="dis_none">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active"><i class="material-icons">assignment_ind</i>GENERAL INFORMATION</div>
                            <div class="collapsible-body">
                                <div class="row" style="padding-top:10px;">
                                    <div class="col s12 m6">
                                        <img src="img/background.jpg" alt="" class="circle responsive-img">
                                    </div>
                                    <div class="col s12 m6">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input readonly id="fname" type="text" class="validate" ng-model="singleStaff.fname">
                                                <label class=" active" for="fname">First Name</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input readonly id="lname" type="text" class="validate" ng-model="singleStaff.lname">
                                                <label class="active" for="lname">Last Name</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input readonly id="username" type="text" class="validate" ng-model="singleStaff.username">
                                                <label class="active" for="username">User Name</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input readonly id="password" type="password" class="validate" ng-model="singleStaff.password">
                                                <label class="active" for="password">Password</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input readonly id="role_id" type="text" class="validate" ng-model="singleStaff.role_id | userRole">
                                                <label class="active" for="role_id">Department</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">info</i>ABOUT</div>
                            <div class="collapsible-body">
                                <div class="row" style="padding-top:10px;">
                                    <div class="input-field col s12 m6">
                                        <input readonly id="dob" type="text" class="validate" ng-model="singleStaff.dob">
                                        <label class="active" for="dob">DOB</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input readonly id="gender" type="text" class="validate" ng-model="singleStaff.gender | genderType">
                                        <label class="active" for="pincode">Gender</label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">place</i>CONTACT INFORMATION</div>
                            <div class="collapsible-body">
                                <div class="row" style="padding-top:10px;">
                                    <div class="input-field col s12 m6">
                                        <input readonly id="phone" type="text" class="validate" ng-model="singleStaff.phone">
                                        <label class="active" for="phone">Phone</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input readonly id="mobile" type="text" class="validate" ng-model="singleStaff.mobile">
                                        <label class="active" for="mobile">Mobile</label>
                                    </div>
                                    <div class="input-field col s12 m12">
                                        <input readonly id="email" type="text" class="validate" ng-model="singleStaff.email">
                                        <label class="active" for="email">Email</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input readonly id="address1" type="text" class="validate" ng-model="singleStaff.address1">
                                        <label class="active" for="address1">Address 1</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input readonly id="address2" type="text" class="validate" ng-model="singleStaff.address2">
                                        <label class="active" for="address2">Address 2</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input readonly id="city" type="text" class="validate" ng-model="singleStaff.city">
                                        <label class="active" for="city">City</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input readonly id="state" type="text" class="validate" ng-model="singleStaff.state">
                                        <label class="active" for="state">State</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input readonly id="country" type="text" class="validate" ng-model="singleStaff.country">
                                        <label class="active" for="country">Country</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input readonly id="pincode" type="text" class="validate" ng-model="singleStaff.pincode">
                                        <label class="active" for="pincode">Pincode</label>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
       </div>
</div>
