    <div style="padding-top:20px;">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header active"><i class="material-icons">assignment_ind</i>GENERAL INFORMATION</div>
                    <div class="collapsible-body">
                        <div class="row" style="padding-top:10px;">
                            <div class="col s12 m6">
                                <img src="img/default.png" alt="" class="circle responsive-img" style="position:relative;top:10px; left: 125px;">
                            </div>
                            <div class="col s12 m6">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input readonly id="fname" type="text" class="validate" ng-model="singleStaff.fname">
                                        <label class=" active" for="fname">First Name</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input readonly id="lname" type="text" class="validate" ng-model="singleStaff.lname">
                                        <label class="active" for="lname">Last Name</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">info</i>ABOUT</div>
                    <div class="collapsible-body">
                        <div class="row" style="padding-top:10px;">
                            <div class="input-field col s12 m6">
                                <input readonly id="dob" type="text" class="validate" ng-model="singleStaff.dob">
                                <label class="active" for="dob">DOB</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input readonly id="gender" type="text" class="validate" ng-model="singleStaff.gender">
                                <label class="active" for="pincode">Gender</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input readonly id="dob" type="text" class="validate" ng-model="singleStaff.doj">
                                <label class="active" for="dob">DOJ</label>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">place</i>CONTACT INFORMATION</div>
                    <div class="collapsible-body">
                        <div class="row" style="padding-top:10px;">
                            <div class="input-field col s12 m6">
                                <input readonly id="phone" type="text" class="validate" ng-model="singleStaff.phone">
                                <label class="active" for="phone">Phone</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input readonly id="mobile" type="text" class="validate" ng-model="singleStaff.mobile">
                                <label class="active" for="mobile">Mobile</label>
                            </div>
                            <div class="input-field col s12 m12">
                                <input readonly id="email" type="text" class="validate" ng-model="singleStaff.email">
                                <label class="active" for="email">Email</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input readonly id="address1" type="text" class="validate" ng-model="singleStaff.address1">
                                <label class="active" for="address1">Address 1</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input readonly id="address2" type="text" class="validate" ng-model="singleStaff.address2">
                                <label class="active" for="address2">Address 2</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input readonly id="city" type="text" class="validate" ng-model="singleStaff.city">
                                <label class="active" for="city">City</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input readonly id="state" type="text" class="validate" ng-model="singleStaff.state">
                                <label class="active" for="state">State</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input readonly id="country" type="text" class="validate" ng-model="singleStaff.country">
                                <label class="active" for="country">Country</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input readonly id="pincode" type="text" class="validate" ng-model="singleStaff.pincode">
                                <label class="active" for="pincode">Pincode</label>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>