    <div style="padding-top:20px;">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header active"><i class="material-icons">assignment_ind</i>GENERAL INFORMATION</div>
                    <div class="collapsible-body">
                        <div class="row" style="padding-top:10px;">
                            <div class="col s12 m6">
                                <img src="img/default.png" alt="" class="circle responsive-img">
                            </div>
                            <div class="col s12 m6">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input readonly id="fname" type="text" class="validate" ng-model="singleCustomer.fname">
                                        <label class=" active" for="fname">First Name</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input readonly id="lname" type="text" class="validate" ng-model="singleCustomer.lname">
                                        <label class="active" for="lname">Last Name</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input readonly id="lname" type="text" class="validate" ng-model="singleCustomer.membership.membership_name">
                                        <label class="active" for="lname">Member Type</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input readonly id="leadsource" type="text" class="validate" ng-model="singleCustomer.lead_source">
                                        <label class="active" for="leadsource">Lead Source</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">info</i>ABOUT</div>
                    <div class="collapsible-body">
                        <div class="row" style="padding-top:10px;">
                            <div class="input-field col s12 m6">
                                <input readonly id="dob" type="text" class="validate" ng-model="singleCustomer.dob">
                                <label class="active" for="dob">DOB</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input readonly id="gender" type="text" class="validate" ng-model="singleCustomer.gender">
                                <label class="active" for="pincode">Gender</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input readonly id="occupation" type="text" class="validate" ng-model="singleCustomer.occupation">
                                <label class="active" for="occupation">Occupation</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input readonly id="interest" type="text" class="validate" ng-model="singleCustomer.interst">
                                <label class="active" for="interest">Interest</label>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">place</i>CONTACT INFORMATION</div>
                    <div class="collapsible-body">
                        <div class="row" style="padding-top:10px;">
                            <div class="input-field col s12 m6">
                                <input readonly id="phone" type="text" class="validate" ng-model="singleCustomer.phone">
                                <label class="active" for="phone">Phone</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input readonly id="mobile" type="text" class="validate" ng-model="singleCustomer.mobile">
                                <label class="active" for="mobile">Mobile</label>
                            </div>
                            <div class="input-field col s12 m12">
                                <input readonly id="email" type="text" class="validate" ng-model="singleCustomer.email">
                                <label class="active" for="email">Email</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input readonly id="address1" type="text" class="validate" ng-model="singleCustomer.address1">
                                <label class="active" for="address1">Address 1</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input readonly id="address2" type="text" class="validate" ng-model="singleCustomer.address2">
                                <label class="active" for="address2">Address 2</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input readonly id="city" type="text" class="validate" ng-model="singleCustomer.city">
                                <label class="active" for="city">City</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input readonly id="state" type="text" class="validate" ng-model="singleCustomer.state">
                                <label class="active" for="state">State</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input readonly id="country" type="text" class="validate" ng-model="singleCustomer.country">
                                <label class="active" for="country">Country</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input readonly id="pincode" type="text" class="validate" ng-model="singleCustomer.pincode">
                                <label class="active" for="pincode">Pincode</label>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>